<a href="https://colab.research.google.com/github/krbyktl/Biomedical-Data-Science/blob/master/kleo1_quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

!ls

! if [ ! -e kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv ] ; \
  then wget https://raw.githubusercontent.com/bcaffo/ds4bme_intro/master/data/kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv; \
fi
  
df = pd.read_csv("/content/kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv")

df.head(5)

sample_data
--2019-09-04 20:46:09--  https://raw.githubusercontent.com/bcaffo/ds4bme_intro/master/data/kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61456 (60K) [text/plain]
Saving to: ‘kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv’

kirby127a_3_1_ax_28 100%[===================>]  60.02K  --.-KB/s    in 0.01s

2019-09-04 20:46:14 (4.04 MB/s) - ‘kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv’ saved [61456/61456]

   Unnamed: 0                 rawid              roi  ...      std  type  level
0           1  kirby127a_3_1_ax.img  Telencephalon_L  ...  51.8593     1      1
1           2  kirby127a_3_1_ax.img  Telencephalon_R  ...  53.6471     1      1
2           3  kirby127a_3_1_ax.img   Diencephalon_L  ...  32.2733     1      1
3           4  kirby127a_3_1_ax.img   Diencephalon_R  ...  32.7869     1      1
4           5  kirby127a_3_1_ax.img    Mesencephalon  ...  29.2249     1      1

[5 rows x 10 columns]